.App{
  border: 1px solid black;
  margin: 50px 30px;
  padding: 25px 15px;
  background-color: #ffcdcc;
  background-size: cover;
  height: 100%;
  text-align: center;
  border-radius: 15px;

}
h2{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 0;
  color:#5d2c26;
  background-color: #fffbfa;
  border-radius: 15px;
 

}

.continer{
  display:flex ;
  flex-direction: column;
  

}
.continer ul{
  font-size: 20px;
  border: 1px solid black;
  border-radius: 15px;
}

.continer ul li{
  list-style-type:"✍️";
  overflow-wrap:break-word;
  width: 150px;
  cursor: pointer;
  padding: 10px;
  margin: 5px;

}

input{
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

button{
    background-color: #ffd1e3;
    color: #5d2c26;
    margin: 20px;
    padding: 10px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 30px;

}

.done{
  text-decoration: line-through;
}

.item{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 10px


}
.trach{
  cursor: pointer;
  text-align: center;
}

img{
  width: 250px;
  
}
